<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class='navbar navbar-expand navbar-light bg-light'>
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'index' %}">HOME</a></li>
                <li><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class="nav-link" href="{% url 'AppFive:register' %}">Registration</a></li>

                {% if user.is_authenticated %}
                    <li><a class='nav-link' href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a class='nav-link' href="{% url 'AppFive:user_login' %}">Login</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <div>
    {% block body_block %}
    {% endblock body_block %}
    </div>
</body>
</html>